doctype html
html(lang='en' data-bs-theme='dark')
  head
    meta(charset="UTF-8")
    meta(name="description" content="ESP32 on HTMX")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title htmlx test 1
    script(src='dist/htmx.org/dist/htmx.js')
    script(src='dist/htmx.org/dist/ext/ws.js')
    link(rel='stylesheet' href='dist/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='main.css')
  body(hx-ext="ws" ws-connect=`ws://${serverAddress}:${listenPost}/ws`)
    div#header(hx-get='/heading' hx-trigger="load")
      h1.display-6="Loading..."
    - const pages = [{name:"files",url:"chip/files/",trigger:"click"},{name:"status",url:"chip/status/",trigger:"click"},{name:"config",url:"chip/config/",trigger:"click"},{name:"logs",url:"logs",trigger:"load"}]
    ul(class="nav nav-pills" role="tablist")
      each page in pages
        li.nav-item(role="presentation")
          button.nav-link(data-bs-toggle="tab"
                          id=`${page.name}-tab`
                          hx-get=page.url
                          hx-target=`#tab-content-${page.name}`
                          hx-swap='innerHTML'
                          hx-trigger=page.trigger
                          type="button"
                          role="tab"
                          aria-controls=`tab-content-${page.name}`
                          data-bs-target=`#tab-content-${page.name}`)=page.name
    div.tab-content
      each page in pages
        div(id=`tab-content-${page.name}`
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby=`${page.name}-tab`)
    script(src='dist/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='main.js')
