doctype html
html(lang='en' data-bs-theme='dark')
  head
    meta(charset="UTF-8")
    meta(name="description" content="ESP32 on HTMX")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title htmlx test 1
    link(as='style' rel="preload" onload="this.onload=null;this.rel='stylesheet'" href='bootstrap.css')
    noscript
      link(rel="stylesheet" href="style.css")
  body
    ul(class="nav" role="tablist")
      each page in pages
        li.nav-item(role="presentation")
          button.nav-link(data-bs-toggle="tab"
                          id=`${page.name}-tab`
                          hx-get=page.url
                          hx-target=`#tab-content-${page.name}`
                          hx-swap='innerHTML'
                          hx-trigger=page.trigger
                          type="button"
                          role="tab"
                          aria-controls=`tab-content-${page.name}`
                          data-bs-target=`#tab-content-${page.name}`)=page.name
    div.tab-content(hx-ext="ws" ws-connect=`ws://${serverAddress}:${listenPost}/ws`)
      each page in pages
        div(id=`tab-content-${page.name}`
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby=`${page.name}-tab`)
    script(src='dist/htmx.org/dist/htmx.js')
    script(src='dist/htmx.org/dist/ext/ws.js')
    script(src='dist/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='main.js')
