include ./mutators/mutators
mixin renderfield(value,caption,options)
    - const isVersioned = (val)=>(typeof val === "object") && (val.value !== undefined) && (val.version !== undefined)
    - var versioned=isVersioned(value)
    if options.editable
        div.d-flex
            if caption
                span(class="input-group-text")=caption
            input(type="text"
                style=options.expand ? 'width: 100%;' : 'width: auto;'
                readonly=!options.editable
                name=options.path + (versioned?`(${value.version})`:"")
                class=options.plaintext ? "form-control-plaintext" : "form-control"
                value=versioned?value.value:value)
    else
        div.d-flex.flex-column.align-items-center(class=caption?"grated":"")
            if caption
                span.text-secondary=caption
            span.text-primary(name=options.path + (versioned?`(${value.version})`:""))=versioned?value.value:value            

mixin renderarray(data,options)
    - const columns=data[1].reduce((cols,cur)=>cols.concat(Object.keys(cur).filter(col=>!cols.includes(col))),[])
    div.container-fluid(style="padding-top: 5px;")
        table#table(class='table table-striped table-dark table-hover caption-top table-sm table-striped table-bordered' data-toggle="table" data-sortable="true")
            thead
                tr
                    each column in columns
                        th.text-secondary(scope="col" data-sortable="true")=column
            tbody
            each row,idx in data[1]
                tr
                    - var path = `${options.path}[${idx}]`;
                    form(ws-send=options.path name=options.path)
                        each column in columns
                            td
                                +jsonator([column,row[column]],undefined,{...options,path:`${path}/${column}`,expand:true,plaintext:true})

mixin jsonator(data,caption,options)
